@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(27, 66%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

h1 {
  font-weight: 700;
  font-size: 1.5em;
}

.card {
  margin: 25px;
  padding: 35px;
  border-radius: 15px;
  min-width: 500px;
  box-shadow: 2px 2px 20px rgba(147, 134, 123, 0.2);

  &.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(10, 79%, 65%);
    color: hsl(33, 100%, 98%);

    h2 {
      font-weight: 400;
      font-size: 1em;
      margin-bottom: 5px;
    }
  }

  &.card-bottom {
    background-color: hsl(33, 100%, 98%);

    .charts {
      margin: 25px 0;
      padding: 25px 0;
      //   border-bottom: 1px dashed rgba(147, 134, 123, 0.3);
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        border-bottom: 2px solid rgba(147, 134, 123, 0.3);
        width: 25%;
        bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: -5px;
        width: 100%;
        height: 75%;
        background: linear-gradient(
          to bottom,
          transparent,
          transparent 90%,
          rgba(147, 134, 123, 0.2) 90%,
          rgba(147, 134, 123, 0.2)
        );
        background-size: 100% 20px;
      }

      .day {
        flex: 1;
        text-align: center;

        .day-value {
          height: attr(data-height);
          //   height: 75px;
          width: calc(100% - 1em);
          margin-left: 0.5em;
          background-color: hsl(10, 79%, 65%);
          border-radius: 5px;
          margin-bottom: 5px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          position: relative;

          &.max {
            background-color: hsl(186, 34%, 60%);

            &:hover {
              background-color: hsl(186, 34%, 75%);
            }
          }

          &:hover {
            background-color: hsl(10, 79%, 75%);
          }

          &::after {
            content: "$" attr(data-height);
            position: absolute;
            left: 50%;
            padding: 0 5px;
            background-color: hsl(25, 47%, 15%);
            color: hsl(33, 100%, 98%);
            border-radius: 5px;
            animation: pricesWiggle alternate 2s ease-in-out infinite;
            opacity: 0;
            transition: 0.2s ease-in-out;
          }

          &:hover::after {
            opacity: 1;
          }
        }

        .day-name {
          color: hsl(28, 10%, 53%);
          font-size: 0.9em;
        }
      }
    }

    .month {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 25px;

      .left {
        h2 {
          color: hsl(28, 10%, 53%);
          font-size: 1em;
          font-weight: 400;
        }
        h1 {
          font-size: 2.5em;
          font-weight: 700;
        }
      }

      .right {
        text-align: end;
        color: hsl(28, 10%, 53%);
        display: flex;
        flex-direction: column;
        span {
          color: #000;
          font-weight: 700;
        }
      }
    }
  }
}

@keyframes pricesWiggle {
  0% {
    transform: translate(-50%, -125%);
  }
  100% {
    transform: translate(-50%, -150%);
  }
}
